@media screen and (max-width: 728px) {
    .token-cont {
        margin: auto;
        margin-top: 200px;
        padding-bottom: 30px;
        background: lightgray 50%;        
    }
    .tok1 {
        padding: 20px;        
    }
    .tok {
        width: 280px;
        height: 20px;
    }
    .track1 {
        width: 150px;
        height: 40px;
        border-radius: 25px;
        border: none;
        background-color: #3972FE;
        color: #1E1F4B;
        margin-top: 40px;       
    }
}