.track-container {
    background: lightgray 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 190px 20px;
}
.share-with {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}
.generate {
    border-radius: 10px;
    width: 10vw;
    height: 5vh;
    background-color: #3972FE;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    font-style: normal;
}
.token-response {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}